<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="org.apache.cordova.plugin.kooabaconnect"
    version="0.0.2">
    <name>KooabaConnect</name>
    <description>Connect to Kooaba</description>
    <license>Apache 2.0</license>
    <keywords>kooaba</keywords>
    <repo>https://github.com/estarOnline/KooabaConnect.git</repo>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="KooabaConnect" >
                <param name="android-package" value="org.apache.cordova.plugin.KooabaConnect"/>
            </feature>
        </config-file>

        <source-file src="src/android/KooabaConnect.java" target-dir="src/org/apache/cordova/plugin" />
    </platform>

</plugin>
